%h3
  Cursos del Estudiante
%div.titulo
  %table.tablesorter.liker
    %thead
      %tr
        %th
          Curso
        %th
          Último Nivel Aprobado
        %th
          Convenio Actual
        %th{:width => "50%"}
          Opciones
    %tbody
      -@estudiante_curso.each do |ec|
        %tr
          %td
            =ec.tipo_curso.descripcion
          %td
            -if ec.ultimo_historial_aprobado
              ="#{ec.ultimo_historial_aprobado.tipo_nivel.descripcion}, periodo: #{ec.ultimo_historial_aprobado.periodo_id}"
            -else
              Ninguno
          %td
            =ec.tipo_convenio.descripcion
          -if session[:administrador].tipo_rol_id <= 3
            %td
              - ha = ec.ultimo_historial_aprobado
              = link_to_modal_v2 "Modificar Convenio",{:action => "cambiar_convenio",:title =>"Modificar Convenio",:width=>500, :params => {:tipo_curso => "#{ec.tipo_curso.id}", :usuario_ci=>"#{ec.usuario_ci}"}}, :class => 'btn_editar'
              = link_to_if ha, "Constancia Notas Aprobadas", {:action => "generar_constancia_notas",:tipo_curso => ec.tipo_curso}, :class => 'btn_descargar'
             
              - if (ha && ha.curso.grado == ha.tipo_curso.numero_grados)
                = link_to "Obtener Certificado", {:action=>"generar_certificado", :tipo_curso => ec.tipo_curso}, :class => 'btn_descargar'
