- if @estudiante_examenes.count > 0
	%H3 Exámenes:
	- @estudiante_examenes.each do |ee|
		- titulo = ee.examen.descripcion_simple 
		- if ee.examen.prueba #and ee.examen.prueba.eql? true
			=#ee.tipo_estado_estudiante_examen_id
			%h3
				= link_to "Presentar #{titulo} - #{ee.examen.curso_periodo.idioma.descripcion} ", {:controller => 'estudiante_examenes', :action => 'indicaciones', :id => ee.examen_id}
				- if ee.completado? or ee.iniciado?
					|
					= link_to "Resultado #{titulo} - #{ee.examen.curso_periodo.idioma.descripcion}", {:controller => 'estudiante_examenes', :action => 'resultado', :id => ee.id.to_s}
		- else 
			%h3
				- if ee.preparado? or ee.resagado?
					= link_to "Presentar #{titulo}", {:controller => 'estudiante_examenes', :action => 'indicaciones', :id => ee.examen_id} if ee.examen.se_puede_presentar? or ee.resagado?
				- else
					= link_to "Resultado #{titulo} - #{ee.examen.curso_periodo.idioma.descripcion}", {:controller => 'estudiante_examenes', :action => 'resultado', :id => ee.id.to_s}
	%div.titulo Lista de exámenes y resultados