= form_for @tipo_actividad do |f|
  -if @tipo_actividad.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tipo_actividad.errors.count, "error")} impiden que el tipo de actividad sea guardada."
      %ul
        - @tipo_actividad.errors.full_messages.each do |msg|
          %li= msg

  - if @edit  
    = f.hidden_field :id
  -else
    .field
      = f.label :id
      = f.text_field :id

  .field
    = f.label :descripcion
    = f.text_field :descripcion
  .actions
    = f.submit 'Guardar'
