%h6
  = button_to 'Nueva Factura', {:action => 'nueva'}, :class => 'ui-button ui-widget ui-state-default ui-corner-all'

  = button_to 'Lista Clientes', {:controller => 'clientes'}, :class => 'ui-button ui-widget ui-state-default ui-corner-all'

%table.tablesorter.likert
  %thead
    %tr
      %th Codigo
      %th Numero control
      %th Fecha
      %th Cliente rif
      %th Monto Total
      %th Opciones


  - @facturas.each do |factura|
    %tbody
      %tr
        %td= factura.codigo
        %td= factura.numero_control
        %td= factura.fecha.strftime("%d/%m/%Y") if factura.fecha
        %td= factura.cliente.descripcion if factura.cliente.descripcion
        %td= number_to_currency factura.monto_total if factura.monto_total
        %td
          = link_to '+Detalle', :action => 'show', :id => factura.id
          |
          = link_to 'Editar', :action => 'editar', :id => factura.id
          |
          = link_to 'Imprimir', :action => "imprimir_factura", :id => factura.id

