%h1 Listing material_apoyos

%table.likert
  %thead
    %tr
      %th Nombre
      %th.raw3 Url
      %th Tipo material apoyo
      %th
      %th
      %th

  - @material_apoyos.each do |material_apoyo|
    %tbody
      %tr.well
        %td.well= material_apoyo.nombre
        %td.well= material_apoyo.url
        %td.well= material_apoyo.tipo_material_apoyo.descripcion
        %td.well= link_to 'Show', material_apoyo
        %td.well= link_to 'Edit', edit_material_apoyo_path(material_apoyo)
        %td.well= link_to 'Destroy', material_apoyo, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Material apoyo', new_material_apoyo_path
