
= form_for([@segmento, @preguntas.build]) do |f|
	%table
		%tbody
			%tr.req
				%td.derecha.separado
					%b= "*Pregunta/Ítem:"
				%td
					= f.text_field :clave

				%td
					%b= "*Opción Correcta:"
				%td
					= f.text_field :respuesta

					.radio
						=# f.radio_button :respuesta, 1
						=# f.label :respuesta_1, 'LIKE' 
						=# f.radio_button :respuesta, 2
						=# f.label :respuesta_2, "DOESN'T MIND"
						=# f.radio_button :respuesta, 3
						=# f.label :respuesta_3, "DOESN'T LIKE"

			%tr
				%td
				%td
					%input.btn.small{:type => 'submit', :value => 'Agregar Pregunta/Ítem', :name => 'commit'}
