!!!
%html
  %head
    %title ACEIM - Escuela de Idiomas Modernos  
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    = favicon_link_tag 'logo.ico'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    #banner
      #banner_barra
        #banner_contenido
          Universidad Central de Venezuela
          %br
          Facultad de Humanidades y Educación
          %br
          Escuela de Idiomas Modernos
          %br
          ACEIM

    %nav.navbar.navbar-dark.bg-warning
      =#image_tag 'aceim.png', class: 'd-inline-block align-top w-auto p-3'
      .text-light
        =# link_to '#','Principal'

    = yield


    #pie
      CIUDAD UNIVERSITARIA DE CARACAS - PATRIMONIO CULTURAL DE LA HUMANIDAD
      %br/
      Ciudad Universitaria de Caracas, Galpón 7, Frente a Farmacia. Telf.: (0212) 6052982
      %br/
      Cursos de Extensión EIM-UCV - 2011

