!!!
%html
  %head
    %title ACEIM - Escuela de Idiomas Modernos  
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:name => 'viewport', :content =>  "width=device-width, initial-scale=1, shrink-to-fit=no"}

    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    = favicon_link_tag 'logo.ico'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    =# stylesheet_link_tag    '/open-iconic/font/css/open-iconic-bootstrap.css'

  %body
    #banner
      #banner_barra
        #banner_contenido
          Universidad Central de Venezuela
          %br
          Facultad de Humanidades y Educación
          %br
          Escuela de Idiomas Modernos
          %br
          ACEIM
    .flash= render 'layouts/message'
    - unless controller_name.eql? 'inicio' and action_name.eql? 'index' and session[:usuario_ci].nil?
      .wrapper 
        = render 'layouts/sidebar'
        #content
          %nav.navbar.navbar-dark.bg-light
            .container-fluid
              %button#sidebarCollapse.btn.btn-info{:type => "button"}
                %i.fas.fa-align-left
                %span Menú
          = yield
    - else
      .bg-warning
        = render 'cargar_sesion'
      .container    
        = yield

    .fixed-bottom#pie
      CIUDAD UNIVERSITARIA DE CARACAS - PATRIMONIO CULTURAL DE LA HUMANIDAD
      %br 
      Ciudad Universitaria de Caracas, Galpón 7, Frente a Farmacia. Telf.: (0212) 6052982
      %br 
      Cursos de Extensión EIM-UCV - 2011

