!!!
%html
  %head
    %title ACEIM - Escuela de Idiomas Modernos  
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    = favicon_link_tag 'logo.ico'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %nav.navbar.navbar-expand-md.navbar-light.fixed-top{style: "background-color: #1b3a5b;"}
      =image_tag 'aceim.png', class: 'd-inline-block align-top w-auto p-3'
      .text-light
        Universidad Central de Venezuela
        %br
        Facultad de Humanidades y Educación
        %br
        Escuela de Idiomas Modernos
        %br
        ACEIM
    

    #banner
      #banner_barra
    #menubar
      %nav#sitenav 
        %ul
          %li=link_to "Principal", root_path


    = yield


    #pie
      CIUDAD UNIVERSITARIA DE CARACAS - PATRIMONIO CULTURAL DE LA HUMANIDAD
      %br/
      Ciudad Universitaria de Caracas, Galpón 7, Frente a Farmacia. Telf.: (0212) 6052982
      %br/
      Cursos de Extensión EIM-UCV - 2011

