!!!
%html
  %head
    %title ACEIM - Escuela de Idiomas Modernos  
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    = favicon_link_tag 'logo.ico'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    =# stylesheet_link_tag    '/open-iconic/font/css/open-iconic-bootstrap.css'

  %body
    #banner
      #banner_barra
        #banner_contenido
          Universidad Central de Venezuela
          %br
          Facultad de Humanidades y Educaci칩n
          %br
          Escuela de Idiomas Modernos
          %br
          ACEIM
    - if controller_name.eql? 'inicio' and action_name.eql? 'index'
      .bg-warning
        = render 'cargar_sesion'
    - else
      %nav.navbar.navbar-dark.bg-warning
        =#image_tag 'aceim.png', class: 'd-inline-block align-top w-auto p-3'
        =#OJO: Ac치 debe ir el buscador de usuarios o estudiantes
    - unless controller_name.eql? 'inicio' and action_name.eql? 'index' and session[:usuario_ci].nil?
      = render 'layouts/sidebar'
    .wrapper.container 
      = render 'layouts/message'
      = yield

    .fixed-bottom#pie
      
      CIUDAD UNIVERSITARIA DE CARACAS - PATRIMONIO CULTURAL DE LA HUMANIDAD
      %br 
      Ciudad Universitaria de Caracas, Galp칩n 7, Frente a Farmacia. Telf.: (0212) 6052982
      %br 
      Cursos de Extensi칩n EIM-UCV - 2011

